main {
  height: 200vh;
}

/* твой код */
.navbar {
  background-color: white;
  color: black;
  height: 40px;
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  text-decoration: none;
  &:hover {
    background-color: black;
    color: lightgrey;
    transition: all 0.4s linear;
  }
  position: static;
  top: 10px;
}

.nav-item {
  text-decoration: underline;
  font-family: "NarrowNews";
  &:hover {
    color: white;
  }
}

@font-face {
  font-family: "NarrowNews";
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

  
